# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.zip

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
.env

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Project Specific
templates/build/
templates/systemconfig/
exports/
.build_settings.json
build_settings.json
.indexignore
extract_hierarchy.typ

# PDFs
# Ignore all PDFs in content directory
content/**/*.pdf

# Ignore all PDFs at root except tutor.pdf
/*.pdf
!/tutor.pdf

# Tests
tests/